/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .head{
    color:rgb(63, 184, 184);
    font-style: italic;
 }
.head:hover{
    color: gold;
}
 .form{
    border: solid rgb(156, 150, 150) 2px;
    border-radius: 10px;
    padding: 20px; 
    display:inline-block;
    margin-left : 10%;
    margin-top: 15px;
 }

 .input{
    width: 50%;
    float: right;
    border-radius: 20px;
 }
 .input:hover{
     height:20px;
     background-color: rgb(173, 173, 166);
 }

 .submit{
    margin-left: 35%;
    width: 100px;
    height: 40px;
    font-size: 18px;
    background-color: lightseagreen;
    border-radius: 20px;

 }
 .submit:hover{
     background-color: rgb(55, 65, 55);
     color:red;
     font-size: 22px;
 }

 .create{
    background-color:rgb(185, 248, 234);
    display: inline-block;
    
    margin-left: 10%;
 }
 .create a{
    text-decoration:none;
    font-size: 18px;
    color:green
 }
 