<h1>Welcome to products.com, <%= @user.name %></h1>
  <p>
    You have successfully signed up to products.com,
    your username is: <%= @user.name %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>