<h1>Employees Of <%= @department_name.titleize%></h1>
<ul>
  <% @employees.each do |employee| %>
    <li> <%= link_to employee.name.titleize, "/employees/#{employee.id}"%> </li><br>
  <%end%>  
</ul>

<%= link_to "previous page", "/"%>