<h1>List Of All Departments </h1>
<ul>
  <% @departments.each do |department| %>
    <li> <%= link_to department.name.titleize, "/department/#{department.id}" %> </li><br>
  <%end%>
</ul>

<%= link_to "Click to see all employees", "/employees" %> <br><br>
<%= link_to "Click to see all managers", "/employees/managers" %>


