<style>

</style>

<h1>List Of All Employees</h1>
<a href="/employees/new">Create New Employee</a>
<ol>
  <% @employees.each do |employee|%>
    <li> <%= link_to employee.name.titleize, "/employees/#{employee.id}"%> </li><br>
  <%end%>  
</ol>

<%=link_to "previous", "/"%>