<h1>List Of All Employees</h1>
<ul>
  <% @employees.each do |employee|%>
    <li> <%= link_to employee.name.titleize, "/employees/#{employee.id}"%> </li><br>
  <%end%>  
</ul>

<%=link_to "previous", "/"%>