<%= link_to "All products", products_path %> | <%= link_to "Logout", "/logout"%>
<h1>Editing Product</h1>

<%= render "form", product: @product %>

<br>

<div>
  
  <%= link_to "Back to products", products_path %>
</div>
